<div class="about-section">
    <div class="intro">
        <p class="greeting">Hi, I'm</p>
        <h1 class="name">Shaik Munnaf Jilani.</h1>
        <h2 class="title">Recent Engineering Graduate & Aspiring Full-Stack Developer.</h2>
        
        <p class="objective">
            A recent engineering graduate with a strong foundation in technology and a passion for innovation. I'm eager to leverage my skills to contribute to impactful projects and am committed to continuous learning and growth to become a valuable asset to a forward-thinking organization.
        </p>
        <p class="contact-prompt">
            Ready to hire? View my <a href="#projects">projects</a> or <a href="#contact">get in touch</a>.
        </p>
    </div>
    
    <div class="details">
        <h3>Contact Details</h3>
        <ul>
            <li><strong>Email:</strong> munnafjilani119@gmail.com </li>
            <li><strong>Phone:</strong> +91 63092 45568 </li>
            <li><strong>Location:</strong> Noida, NCR </li>
            <li><strong>LinkedIn:</strong> <a href="https://linkedin.com/munnafjilani119/" target="_blank">munnafjilani119</a> </li>
        </ul>
    </div>
</div>